name: CI/CD for AWS Lambda

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt

    - name: Install zip tool
      run: sudo apt-get install -y zip

    - name: Create Zip file for Lambda function
      run: |
        mkdir -p package
        cp -r lambda_function.py templates/ requirements.txt package/
        cd package
        pip install -r requirements.txt -t .
        zip -r ../code.zip .

    - name: AWS CLI v2
      uses: imehedi/actions-awscli-v2@latest
      with:
        args: "lambda update-function-code --function-name arn:aws:lambda:eu-central-1:783801481805:function:flask-app --zip-file fileb://code.zip"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: "eu-central-1"
