name: CI/CD for AWS Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install zip tool
      run: montudor/action-zip@1

    - name: Create Zip file for Lambda function
      run: zip -r code.zip .

    - name: AWS CLI v2
      uses: imehedi/actions-awscli-v2@latest
      with:
        args: "lambda update-function-code --function-name arn:aws:lambda:eu-central-1:783801481805:function:flask-app --zip-file fileb://code.zip"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: "eu-central-1"
